.homePage__reason {
  background: url("../../images/background_reason.png");
}
.homePage__form {
  background: url("../../images/background_form.png");
}
.homePage__characteristic {
  background: url("../../images/background_characteristic.png");
}
.homePage__finish {
  background: url("../../images/background_finish.png");
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
